@use "colors" as c;
@use "mixins" as m;
@use "view" as v;

.footer {
  background-color: #f7f7f7;

  &__inner {
    @include m.flexContainer($ai: center, $jc: space-around);

    @media (max-width: v.$mobile-width) {
      @include m.flexContainer($fd: column, $ai: center, $g: 3em);
      text-align: center;
    }
  }

  &__phone {
    @include m.textOpt(2.3em, 1.2em, 700);
    color: black;
  }
}
